In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from collections import Counter

%matplotlib inline

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv')
df.head()

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [3]:
df = df.set_index('Unnamed: 0') 
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
Unnamed: 0,,,,,,,,,
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [4]:
df.shape

(60399, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

### 인기 동영상 제작횟수가 많은 채널 상위 10개명을 출력하라. (날짜기준, 중복포함)

In [9]:
top10 = df['channelTitle'].value_counts().head(10)
top10

channelTitle
짤툰                       372
파뿌리                      318
SPOTV                    318
런닝맨 - 스브스 공식 채널          313
엠뚜루마뚜루 : MBC 공식 종합 채널    293
장삐쭈                      283
BANGTANTV                275
채널 십오야                   274
이과장                      258
총몇명                      255
Name: count, dtype: int64

In [11]:
top10.index

Index(['짤툰', '파뿌리', 'SPOTV', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', '장삐쭈',
       'BANGTANTV', '채널 십오야', '이과장', '총몇명'],
      dtype='object', name='channelTitle')

### 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라.

In [13]:
df[['likes', 'dislikes']].head()

            likes  dislikes
Unnamed: 0
0           38249       730
1               0         0
2            3564       120
3           15372       280
4            3918       111

In [17]:
diff = df.groupby(by='channelTitle')[['dislikes', 'likes']].sum()
diff.head()

                                             dislikes     likes
channelTitle
#Like_Football 라이크풋볼                              944     19102
(G)I-DLE (여자)아이들 (Official YouTube Channel)    287755  12339953
(G)I-DLE - Topic                                 2747    149386
(MUTUBE)와꾸대장봉준                                 456156     75284
01년생편돌이[CU]                                     28318    825541

In [18]:
diff[diff['dislikes'] > diff['likes']].head()

                dislikes   likes
channelTitle
(MUTUBE)와꾸대장봉준    456156   75284
ASMR 애정TV          20483   17050
Gen.G esports      17166   14072
MapleStory_KR      34892   28187
양팡 YangPang      1428963  885345

In [19]:
diff[diff['dislikes'] > diff['likes']].head().index

Index(['(MUTUBE)와꾸대장봉준', 'ASMR 애정TV', 'Gen.G esports', 'MapleStory_KR',
       '양팡 YangPang'],
      dtype='object', name='channelTitle')

In [20]:
# answer
answer = df.loc[df['dislikes'] > df['likes']]
print(answer['channelTitle'].unique())

['핫도그TV' 'ASMR 애정TV' '하얀트리HayanTree' '양팡 YangPang' '철구형 (CHULTUBE)'
 '왜냐맨하우스' '(MUTUBE)와꾸대장봉준' '오메킴TV' '육지담' 'MapleStory_KR'
 'ROAD FIGHTING CHAMPIONSHIP' '사나이 김기훈' '나혼자산다 STUDIO' 'Gen.G esports']

내가 작성한 코드는 '채널별로 전체 영상의 dislikes와 likes를 합산해서 그 합계를 기준으로 골라내는 코드' 
- **즉 채널의 전체적인 평가를 살펴보는 코드로, 문제의 의도와는 다른 코드**

### 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 개수를 구하여라

In [23]:
df[['channelTitle', 'channelId']].head()

                       channelTitle                 channelId
Unnamed: 0
0                               장삐쭈  UChbE5OZQ6dRHECsX0tEPEZQ
1           RAIN's Official Channel  UCxXgIeE5hxWxHG6dz9Scg2w
2                       서울시 · Seoul  UCZUPZW5idAxYp-Asj__lVAA
3                      고기남자 MeatMan  UCT3CumbFIJiW33uq0UI3zlg
4                             스브스밥집  UCdWgRSfttvDucq4ApcCg5Mw

- **duplicated()**: True/False로 중복된 행인지 판단
- **drop_duplicates()**: 중복된 행 제거

In [28]:
# 두 개의 컬럼을 동시에 기준으로 해서 완전히 똑같은 쌍이 있는지 중복을 판단
change = df[['channelTitle', 'channelId']].drop_duplicates()
change.head()

                       channelTitle                 channelId
Unnamed: 0
0                               장삐쭈  UChbE5OZQ6dRHECsX0tEPEZQ
1           RAIN's Official Channel  UCxXgIeE5hxWxHG6dz9Scg2w
2                       서울시 · Seoul  UCZUPZW5idAxYp-Asj__lVAA
3                      고기남자 MeatMan  UCT3CumbFIJiW33uq0UI3zlg
4                             스브스밥집  UCdWgRSfttvDucq4ApcCg5Mw

In [32]:
answer = change['channelId'].value_counts()
answer = answer > 1
print(answer.value_counts())

count
False    1699
True       71
Name: count, dtype: int64

### 일요일에 인기있었던 영상들 중 가장 많은 영상 종류(categoryId)는 무엇인가?

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

In [36]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
sunday = df.loc[df['trending_date2'].dt.day_name() == 'Sunday']
sunday.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
Unnamed: 0,,,,,,,,,
400,💎아형리미티드💎 [풀버전] 레전드의 레전드 무대! 박진영x비의 '나로 바꾸자'♬ (...,아는형님 Knowingbros,24,1045604,29146,461,2960,UCOHM2N1YQdb-cHWxJxwBMLQ,2021-01-03
401,27년 인생 첫 혼술 먹방 도중 방송사고가..,뜨뜨뜨뜨,22,995875,16176,452,1768,UCHxKSivB6JLZ1SEMdxd1fAg,2021-01-03
402,[2020 MBC 가요대제전] 비 X 박진영 - 나로 바꾸자 (RAIN X JYP ...,MBCkpop,10,1864219,52375,1379,6710,UCe52oeb7Xv_KaJsEzcKXJJg,2021-01-03
403,MBC방송연예대상 2부 대환장 꿀잼 모먼트 #TVPP | MBC 201229 방송,TV-People,24,512178,4649,172,444,UC1cWTErb7vw_UmmuB0dYgsQ,2021-01-03
404,[EP114]※충격※모든 걸 잃고 한순간에 신용불량자 된 모델 지연수,푸하하TV,24,905337,13632,425,2866,UCoW9qWiUvytH7ZpnYcX4dEQ,2021-01-03

In [39]:
sunday['categoryId'].value_counts().index[0]

24

- **dt.day_name()**: datetime 형식의 시리즈에서 요일 이름(예: Monday, Tuesday..)을 문자열로 반환해주는 함수

In [ ]:
sunday = df[pd.to_datetime(df['trending_date']).dt.weekday == 6]
# 일요일은 6이니까 이 조건으로 필터링 가능

### 각 요일별 인기 영상들의 categoryId는 각각 몇 개씩인지 하나의 데이터 프레임으로 표현하라.

### 댓글의 수로 (comment_count) 영상 반응데 대한 판단을 할 수 있다. viewcount 대비 댓글수가 가장 높은 영상을 확인하라. (view_count 값이 0인 경우는 제외한다)

### 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount 대비 댓글수가 가장 낮은 영상을 확인하라. (view_counts, ratio 값이 0인 경우는 제외한다)