In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from collections import Counter

%matplotlib inline

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv')
df.head()

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [3]:
df = df.set_index('Unnamed: 0') 
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
Unnamed: 0,,,,,,,,,
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [4]:
df.shape

(60399, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

### ì¸ê¸° ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼. (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [9]:
top10 = df['channelTitle'].value_counts().head(10)
top10

channelTitle
ì§¤íˆ°                       372
íŒŒë¿Œë¦¬                      318
SPOTV                    318
ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„          313
ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„    293
ì¥ì‚ì­ˆ                      283
BANGTANTV                275
ì±„ë„ ì‹­ì˜¤ì•¼                   274
ì´ê³¼ì¥                      258
ì´ëª‡ëª…                      255
Name: count, dtype: int64

In [11]:
top10.index

Index(['ì§¤íˆ°', 'íŒŒë¿Œë¦¬', 'SPOTV', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'ì¥ì‚ì­ˆ',
       'BANGTANTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'ì´ëª‡ëª…'],
      dtype='object', name='channelTitle')

### ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼.

In [13]:
df[['likes', 'dislikes']].head()

            likes  dislikes
Unnamed: 0
0           38249       730
1               0         0
2            3564       120
3           15372       280
4            3918       111

In [17]:
diff = df.groupby(by='channelTitle')[['dislikes', 'likes']].sum()
diff.head()

                                             dislikes     likes
channelTitle
#Like_Football ë¼ì´í¬í’‹ë³¼                              944     19102
(G)I-DLE (ì—¬ì)ì•„ì´ë“¤ (Official YouTube Channel)    287755  12339953
(G)I-DLE - Topic                                 2747    149386
(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€                                 456156     75284
01ë…„ìƒí¸ëŒì´[CU]                                     28318    825541

In [18]:
diff[diff['dislikes'] > diff['likes']].head()

                dislikes   likes
channelTitle
(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€    456156   75284
ASMR ì• ì •TV          20483   17050
Gen.G esports      17166   14072
MapleStory_KR      34892   28187
ì–‘íŒ¡ YangPang      1428963  885345

In [19]:
diff[diff['dislikes'] > diff['likes']].head().index

Index(['(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ASMR ì• ì •TV', 'Gen.G esports', 'MapleStory_KR',
       'ì–‘íŒ¡ YangPang'],
      dtype='object', name='channelTitle')

In [20]:
# answer
answer = df.loc[df['dislikes'] > df['likes']]
print(answer['channelTitle'].unique())

['í•«ë„ê·¸TV' 'ASMR ì• ì •TV' 'í•˜ì–€íŠ¸ë¦¬HayanTree' 'ì–‘íŒ¡ YangPang' 'ì² êµ¬í˜• (CHULTUBE)'
 'ì™œëƒë§¨í•˜ìš°ìŠ¤' '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€' 'ì˜¤ë©”í‚´TV' 'ìœ¡ì§€ë‹´' 'MapleStory_KR'
 'ROAD FIGHTING CHAMPIONSHIP' 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ' 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO' 'Gen.G esports']

ë‚´ê°€ ì‘ì„±í•œ ì½”ë“œëŠ” 'ì±„ë„ë³„ë¡œ ì „ì²´ ì˜ìƒì˜ dislikesì™€ likesë¥¼ í•©ì‚°í•´ì„œ ê·¸ í•©ê³„ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê³¨ë¼ë‚´ëŠ” ì½”ë“œ' 
- **ì¦‰ ì±„ë„ì˜ ì „ì²´ì ì¸ í‰ê°€ë¥¼ ì‚´í´ë³´ëŠ” ì½”ë“œë¡œ, ë¬¸ì œì˜ ì˜ë„ì™€ëŠ” ë‹¤ë¥¸ ì½”ë“œ**

### ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°œìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [23]:
df[['channelTitle', 'channelId']].head()

                       channelTitle                 channelId
Unnamed: 0
0                               ì¥ì‚ì­ˆ  UChbE5OZQ6dRHECsX0tEPEZQ
1           RAIN's Official Channel  UCxXgIeE5hxWxHG6dz9Scg2w
2                       ì„œìš¸ì‹œ Â· Seoul  UCZUPZW5idAxYp-Asj__lVAA
3                      ê³ ê¸°ë‚¨ì MeatMan  UCT3CumbFIJiW33uq0UI3zlg
4                             ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘  UCdWgRSfttvDucq4ApcCg5Mw

- **duplicated()**: True/Falseë¡œ ì¤‘ë³µëœ í–‰ì¸ì§€ íŒë‹¨
- **drop_duplicates()**: ì¤‘ë³µëœ í–‰ ì œê±°

In [28]:
# ë‘ ê°œì˜ ì»¬ëŸ¼ì„ ë™ì‹œì— ê¸°ì¤€ìœ¼ë¡œ í•´ì„œ ì™„ì „íˆ ë˜‘ê°™ì€ ìŒì´ ìˆëŠ”ì§€ ì¤‘ë³µì„ íŒë‹¨
change = df[['channelTitle', 'channelId']].drop_duplicates()
change.head()

                       channelTitle                 channelId
Unnamed: 0
0                               ì¥ì‚ì­ˆ  UChbE5OZQ6dRHECsX0tEPEZQ
1           RAIN's Official Channel  UCxXgIeE5hxWxHG6dz9Scg2w
2                       ì„œìš¸ì‹œ Â· Seoul  UCZUPZW5idAxYp-Asj__lVAA
3                      ê³ ê¸°ë‚¨ì MeatMan  UCT3CumbFIJiW33uq0UI3zlg
4                             ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘  UCdWgRSfttvDucq4ApcCg5Mw

In [32]:
answer = change['channelId'].value_counts()
answer = answer > 1
print(answer.value_counts())

count
False    1699
True       71
Name: count, dtype: int64

### ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ ì¤‘ ê°€ì¥ ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

In [36]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
sunday = df.loc[df['trending_date2'].dt.day_name() == 'Sunday']
sunday.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
Unnamed: 0,,,,,,,,,
400,ğŸ’ì•„í˜•ë¦¬ë¯¸í‹°ë“œğŸ’ [í’€ë²„ì „] ë ˆì „ë“œì˜ ë ˆì „ë“œ ë¬´ëŒ€! ë°•ì§„ì˜xë¹„ì˜ 'ë‚˜ë¡œ ë°”ê¾¸ì'â™¬ (...,ì•„ëŠ”í˜•ë‹˜ Knowingbros,24,1045604,29146,461,2960,UCOHM2N1YQdb-cHWxJxwBMLQ,2021-01-03
401,27ë…„ ì¸ìƒ ì²« í˜¼ìˆ ë¨¹ë°© ë„ì¤‘ ë°©ì†¡ì‚¬ê³ ê°€..,ëœ¨ëœ¨ëœ¨ëœ¨,22,995875,16176,452,1768,UCHxKSivB6JLZ1SEMdxd1fAg,2021-01-03
402,[2020 MBC ê°€ìš”ëŒ€ì œì „] ë¹„ X ë°•ì§„ì˜ - ë‚˜ë¡œ ë°”ê¾¸ì (RAIN X JYP ...,MBCkpop,10,1864219,52375,1379,6710,UCe52oeb7Xv_KaJsEzcKXJJg,2021-01-03
403,MBCë°©ì†¡ì—°ì˜ˆëŒ€ìƒ 2ë¶€ ëŒ€í™˜ì¥ ê¿€ì¼ ëª¨ë¨¼íŠ¸ #TVPP | MBC 201229 ë°©ì†¡,TV-People,24,512178,4649,172,444,UC1cWTErb7vw_UmmuB0dYgsQ,2021-01-03
404,[EP114]â€»ì¶©ê²©â€»ëª¨ë“ ê±¸ ìƒê³ í•œìˆœê°„ì— ì‹ ìš©ë¶ˆëŸ‰ì ëœ ëª¨ë¸ ì§€ì—°ìˆ˜,í‘¸í•˜í•˜TV,24,905337,13632,425,2866,UCoW9qWiUvytH7ZpnYcX4dEQ,2021-01-03

In [39]:
sunday['categoryId'].value_counts().index[0]

24

- **dt.day_name()**: datetime í˜•ì‹ì˜ ì‹œë¦¬ì¦ˆì—ì„œ ìš”ì¼ ì´ë¦„(ì˜ˆ: Monday, Tuesday..)ì„ ë¬¸ìì—´ë¡œ ë°˜í™˜í•´ì£¼ëŠ” í•¨ìˆ˜

In [ ]:
sunday = df[pd.to_datetime(df['trending_date']).dt.weekday == 6]
# ì¼ìš”ì¼ì€ 6ì´ë‹ˆê¹Œ ì´ ì¡°ê±´ìœ¼ë¡œ í•„í„°ë§ ê°€ëŠ¥

### ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ ê°œì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼.

### ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ë° ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcount ëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼. (view_count ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

### ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcount ëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼. (view_counts, ratio ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)