In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from collections import Counter

%matplotlib inline

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

In [3]:
pokemon = pd.DataFrame(raw_data)
pokemon.head()

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

In [4]:
pokemon.shape

(4, 5)

In [5]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   evolution  4 non-null      object
 2   type       4 non-null      object
 3   hp         4 non-null      int64
 4   pokedex    4 non-null      object
dtypes: int64(1), object(4)
memory usage: 292.0+ bytes

### Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex.

In [7]:
# 열의 순서를 위 순서대로 정렬해라.
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon.head()

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Add another column called place, and insert what you have in mind.

In [8]:
# 'place' 열 추가 
pokemon['place'] = ['market', 'college', 'house', 'bakery']
pokemon.head()

         name   type  hp   evolution pokedex    place
0   Bulbasaur  grass  45     Ivysaur     yes   market
1  Charmander   fire  39  Charmeleon      no  college
2    Squirtle  water  44   Wartortle     yes    house
3    Caterpie    bug  45     Metapod      no   bakery

### Present the type of each column.

In [9]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 324.0+ bytes

In [10]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

AttributeError: 'DataFrame' object has no attribute 'dtype'